body {
  background: #f0f8f0;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: darkgreen;
}

.sotto {
  color: gray;
}

.scheda {
  background: white;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  border-top: 5px solid gold;
}

h2 {
  color: gold;
}

.piede {
  font-size: 12px;
  color: gray;
}
